<!DOCTYPE html>
<html>

<head>
    <title>MessageBoard</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Message Board</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
        <% if user_signed_in? %>
            <p class="navbar-text pull-left">
                <%= link_to "Current Posts", jobs_path %>
            </p>
            <p class="navbar-text center">
                <%= link_to "Add a Post", new_job_path %>
            </p>
            <% end %>
                <p class="navbar-text pull-right">
                    <% if user_signed_in? %>
                        |
                        <%= current_user.email %> |
                            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                                <% else %>
                                    <%= link_to('Login', new_user_session_path)  %>
                                        <% end %>
                </p>
    </div>
</div>

<body>
    <p class="notice">
        <%= notice %>
    </p>
    <p class="alert">
        <%= alert %>
    </p>
    <div class='content'>
        <%= yield %>
    </div>
</body>

</html>